@import "tailwindcss";

@layer base {
  body {
    @apply bg-[url('/assets/page-ornament-sides.png')] bg-top bg-fixed bg-no-repeat bg-[auto_auto];
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ArchivoBlack';
  src: url('/fonts/ArchivoBlack-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-green: #7ACCC8;
  --color-brown: #CCBD7A;
  --color-pink: #CC7ABD;
  --color-beige: #fbfbfb;
  --color-white: #FFF;
  --color-black: #000;
  --font-body: 'Roboto', sans-serif;
  --font-heading: 'ArchivoBlack', sans-serif;

  /*alternative colors from easyitem.com*/
  /*--color-green: rgb(21, 128, 61);*/
  /*--color-brown: rgb(175, 114, 9);*/
  /*--color-orange: rgb(245, 167, 34);*/
}

body {
  background-color: #fbfbfb;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

#root {
  max-width: 980px;
  margin: 0 auto;
}
